<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipe" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" maxBufferSize="1048576">
          <readerQuotas maxDepth="32" maxArrayLength="1048576" maxStringContentLength="1048576" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>